---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: Palatino, "Palatino Linotype", "Palatino LT STD", 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', 'Microsoft YaHei', serif;
$base-font-size: 16px;
$base-font-weight: 300;
$small-font-size: $base-font-size * 0.875;
$meta-font-size: $base-font-size * 0.7;
$base-line-height: 1.75;
$h1-h6-weight: 700;

$spacing-unit: 40px;

$text-color: #333;
$text-color-dark: rgb(173, 186, 199);
$background-color-white: #fff;
$background-color-gray: #f7f7f7;
$brand-color: lighten($text-color, 25%);

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;
$on-screen: 769px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query-max($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
@mixin media-query-min($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import 'base', 'layout';
