<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>
    {% if page.title %}{{ page.title | escape_once }}{% else %}{{ site.title |
    escape_once }}{% endif %}
  </title>
  <meta
    name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="preload" as="style" href="{{ "/css/main.css" | prepend:
  site.baseurl }}"> <link rel="alternate" type="application/rss+xml" title="{{
  site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend:
  site.url }}"> {% seo %} {% comment %}
  <script async src="/js/ag.js"></script>
  <script>
    function pcs() {
      if (
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches
      ) {
        return "Dark";
      } else if (
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: light)").matches
      ) {
        return "Light";
      }
      return "No Preference";
    }
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("set", "user_properties", {
      color_mode: pcs(),
    });

    gtag("config", "{{ site.tracking.ga4_id }}", {
      transport_url: "https://placeless.net",
      viewport_size: `${Math.max(
        document.documentElement.clientWidth || 0,
        window.innerWidth || 0
      )}x${Math.max(
        document.documentElement.clientHeight || 0,
        window.innerHeight || 0
      )}`,
    });
  </script>
  <script>
    (function () {
      var script = document.createElement("script");
      script.src = "https://unpkg.zhimg.com/web-vitals";
      script.onload = function () {
        const thresholds = {
          CLS: [0.1, 0.25],
          FCP: [1800, 3000],
          FID: [100, 300],
          LCP: [2500, 4000],
        };

        function getRating(value, thresholds) {
          if (value > thresholds[1]) {
            return "poor";
          }
          if (value > thresholds[0]) {
            return "ni";
          }
          return "good";
        }

        function sendToGoogleAnalytics({ name, delta, value, id }) {
          gtag("event", name, {
            value: delta, // Use `delta` so the value can be summed.
            metric_id: id, // Needed to aggregate events.
            metric_value: value, // Optional.
            metric_delta: delta, // Optional.
            metric_rating: getRating(value, thresholds[name]),
          });
        }

        webVitals.getCLS(sendToGoogleAnalytics);
        webVitals.getFID(sendToGoogleAnalytics);
        webVitals.getLCP(sendToGoogleAnalytics);
        webVitals.getFCP(sendToGoogleAnalytics);
        webVitals.getTTFB(sendToGoogleAnalytics);
      };
      document.head.appendChild(script);
    })();
  </script>
  {% endcomment %}
</head>
