<!doctype html>
<html lang="zh-cmn-Hans">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content" id="article">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <script>
      window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
      ga('create', 'UA-101491967-2', 'auto', {'sampleRate': 100, 'siteSpeedSampleRate': 100}); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <script src="https://unpkg.com/zooming/build/zooming.min.js"></script>
    <script>window.Zooming || document.write('<script src="/js/zooming.min.js"><\/script>') </script>
    <script>if (window.Zooming) window.addEventListener('load', function () { new Zooming().listen('.post-content img') })</script>

  </body>

</html>
