<!doctype html>
<html lang="zh-cmn-Hans">
  {% include head.html %}

  <body>
    <div class="page-content" id="article">
      <div class="wrapper">{{ content }}</div>
    </div>
    <script>
      // open outbound links in new tab
      const origin = document.location.origin;
      const links = document.getElementsByTagName("a");
      for (const link of links) {
        if (
          link.origin &&
          link.origin !== origin &&
          link.protocol !== "mailto:"
        ) {
          link.setAttribute("target", "_blank");
          link.setAttribute("rel", "noopener noreferrer");
        }
      }

      // responsive table
      const tables = document.getElementsByTagName("table");
      for (const table of tables) {
        const headerRow = table.tHead && table.tHead.rows[0];
        const body = table.tBodies[0];
        if (!headerRow || !body) continue;

        const ths = headerRow.cells;
        const trs = body.rows;
        for (const row of trs) {
          for (let i = 0; i < row.cells.length; i++) {
            if (ths[i]) row.cells[i].setAttribute("data-label", ths[i].textContent);
          }
        }
      }

      // dark mode
      const lightsOn = localStorage.getItem("lights") === "true";
      const useDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
      if (useDark && !lightsOn) document.body.classList.add("dark-mode");

      const toggleLights = document.getElementById("toggle-lights");
      if (toggleLights) {
        toggleLights.addEventListener("click", () => {
          document.body.classList.toggle("dark-mode");
          const hasClass = document.body.classList.contains("dark-mode");
          localStorage.setItem("lights", !hasClass);
        });
      }
    </script>

    <script
      defer
      src="/js/cf.js"
      data-cf-beacon='{"token":"8c631e081d224d2795353530267e2104"}'
    ></script>
  </body>
</html>
