<!DOCTYPE html>
<html lang="zh-Hans">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content" id="article">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

  </body>

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101491967-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-101491967-2');
  </script>

</html>
